week_3/day4/Exercises_XP/math-app/node_modules
week_3/day4/Exercises_XP/npm-beginner/node_modules
week_3/day4/Exercises_XP_Gold/axios-example/node_modules
week_3/day4/Exercises_XP_Gold/date-fns-usage/node_modules
week_3/day4/Exercises_XP_Gold/date-fns-usage/node_modules
week_3/day4/daily-challenge/node_modules

week_3/day5/Exercice_XP/crud-api/node_modules
week_3/day5/Exercice_XP/book-api/node_modules
week_3/day5/Exercice_XP/blog-api/node_modules


week_3/day5/Daily_Challenge/node_modules
week_4/day5/Exercises_XP/node_modules
week_4/day5/dayli_Challenge/node_modules
week_4/day5/Exercises_XP/node_modules

week_6/restaurant-api/node_modules

week_6/restaurant-api/.env